# Ignore .env file (for sensitive data like environment variables)
.env

# ignore local experiment test nb
chat.ipynb
/vectorstore/chroma_db/*
!/vectorstore/chroma_db/.gitkeep

# ignore experimental prompts 
/trash/*